@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}
@section title
{
    <title>Danh sách tổ chức, doanh nghiệp đang tuyển dụng nhân sự tại TopCV</title>

}

@section linkCss
{
    <link rel="stylesheet" href="../css/danhSachCongTy.css">

}
<div id="main">
    <div class="company">
        <div class="box-search-company">
            <div class="container d-flex">
                <div class="box-search">
                    <ul class="nav header">
                        <li class="nav-item">
                            <a href="" class="nav-link active">Danh sách công ty</a>
                        </li>
                        <li class="nav-item"><a href="" class="nav-link">Công ty đã lưu</a></li>
                    </ul>
                    <div class="caption">
                        <h3 class="text-green">Khám phá 1000+ công ty nổi bật</h3>
                        <p class="description">Tra cứu thông tin công ty và tìm kiếm nơi làm việc tốt nhất dành cho bạn</p>
                    </div>
                    <form action="" class="form-search border-hover">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="keyword" class="form-control" name="keyword" placeholder="Nhập tên công ty">
                        <button class="btn btn-search btn-search-company btn-primary-hover">Tìm kiếm</button>
                    </form>
                </div>
                <div class="box-img"><img src="../img/company-billBoard.webp" alt=""></div>

            </div>
        </div>
        <div class="featured-companies">
            <div class="company-header text-center">
                <h4>DANH SÁCH CÁC CÔNG TY NỔI BẬT</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="box-company item-hover">
                            <div class="company-banner">
                                <a href="@Url.ActionLink("Index", "ChiTietCongTy")">
                                    <div class="cover-warper">
                                        <img src="../img/cong-ty-tnhh-glodival-95051c94e7df2a248382cb7034a90f9c-660d0c235a956.webp" alt="">
                                    </div>
                                </a>
                                <div class="company-logo"><a href="@Url.ActionLink("Index", "ChiTietCongTy")"><img src="../img/cong-ty-tnhh-glodival-121ca3da8aa8d312b77c04fd91e0bf73-660d0c2d12985.webp" alt="" class="img-fluid"></a></div>
                            </div>
                            <div class="company-info">
                                <div class="font-weight-6"><a href="@Url.ActionLink("Index", "ChiTietCongTy")">CÔNG TY TNHH GLODIVAL</a></div>
                                <div class="company-description">
                                    <p>" Được thành lập từ năm 2019, Công ty TNHH Glodival đã và đang dần trở thành một trong những Doanh nghiệp có uy tín trong lĩnh vực Du Lịch, Digital Marketing. Với sự đồng tâm từ cấp quản lý tận tụy, giàu kinh nghiệm đến đội ngũ nhân viên trẻ chuyên môn cao, đầy nhiệt huyết, Glodival dần khẳng định được vị trí của mình trên thị trường, trở thành..."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="box-company item-hover">
                            <div class="company-banner">
                                <a href="@Url.ActionLink("Index", "ChiTietCongTy")">
                                    <div class="cover-warper">
                                        <img src="../img/cong-ty-tnhh-glodival-95051c94e7df2a248382cb7034a90f9c-660d0c235a956.webp" alt="">
                                    </div>
                                </a>
                                <div class="company-logo"><a href="@Url.ActionLink("Index", "ChiTietCongTy")"><img src="../img/cong-ty-tnhh-glodival-121ca3da8aa8d312b77c04fd91e0bf73-660d0c2d12985.webp" alt="" class="img-fluid"></a></div>
                            </div>
                            <div class="company-info">
                                <div class="font-weight-6"><a href="@Url.ActionLink("Index", "ChiTietCongTy")">CÔNG TY TNHH GLODIVAL</a></div>
                                <div class="company-description">
                                    <p>" Được thành lập từ năm 2019, Công ty TNHH Glodival đã và đang dần trở thành một trong những Doanh nghiệp có uy tín trong lĩnh vực Du Lịch, Digital Marketing. Với sự đồng tâm từ cấp quản lý tận tụy, giàu kinh nghiệm đến đội ngũ nhân viên trẻ chuyên môn cao, đầy nhiệt huyết, Glodival dần khẳng định được vị trí của mình trên thị trường, trở thành..."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="box-company item-hover">
                            <div class="company-banner">
                                <a href="@Url.ActionLink("Index", "ChiTietCongTy")">
                                    <div class="cover-warper">
                                        <img src="../img/cong-ty-tnhh-glodival-95051c94e7df2a248382cb7034a90f9c-660d0c235a956.webp" alt="">
                                    </div>
                                </a>
                                <div class="company-logo"><a href="@Url.ActionLink("Index", "ChiTietCongTy")"><img src="../img/cong-ty-tnhh-glodival-121ca3da8aa8d312b77c04fd91e0bf73-660d0c2d12985.webp" alt="" class="img-fluid"></a></div>
                            </div>
                            <div class="company-info">
                                <div class="font-weight-6"><a href="@Url.ActionLink("Index", "ChiTietCongTy")">CÔNG TY TNHH GLODIVAL</a></div>
                                <div class="company-description">
                                    <p>" Được thành lập từ năm 2019, Công ty TNHH Glodival đã và đang dần trở thành một trong những Doanh nghiệp có uy tín trong lĩnh vực Du Lịch, Digital Marketing. Với sự đồng tâm từ cấp quản lý tận tụy, giàu kinh nghiệm đến đội ngũ nhân viên trẻ chuyên môn cao, đầy nhiệt huyết, Glodival dần khẳng định được vị trí của mình trên thị trường, trở thành..."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="box-company item-hover">
                            <div class="company-banner">
                                <a href="@Url.ActionLink("Index", "ChiTietCongTy")">
                                    <div class="cover-warper">
                                        <img src="../img/cong-ty-tnhh-glodival-95051c94e7df2a248382cb7034a90f9c-660d0c235a956.webp" alt="">
                                    </div>
                                </a>
                                <div class="company-logo"><a href="@Url.ActionLink("Index", "ChiTietCongTy")"><img src="../img/cong-ty-tnhh-glodival-121ca3da8aa8d312b77c04fd91e0bf73-660d0c2d12985.webp" alt="" class="img-fluid"></a></div>
                            </div>
                            <div class="company-info">
                                <div class="font-weight-6"><a href="@Url.ActionLink("Index", "ChiTietCongTy")">CÔNG TY TNHH GLODIVAL</a></div>
                                <div class="company-description">
                                    <p>" Được thành lập từ năm 2019, Công ty TNHH Glodival đã và đang dần trở thành một trong những Doanh nghiệp có uy tín trong lĩnh vực Du Lịch, Digital Marketing. Với sự đồng tâm từ cấp quản lý tận tụy, giàu kinh nghiệm đến đội ngũ nhân viên trẻ chuyên môn cao, đầy nhiệt huyết, Glodival dần khẳng định được vị trí của mình trên thị trường, trở thành..."</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>